*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root
{
    --common-color: #FF5400;
    --common-margin: 40px 110px;
}

/* navbar start */
.responsive-bar
{
    display: none;
}
.navbar
{
    margin: var(--common-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav, .nav-logo
{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-logo h1
{
    font-size: 32px;
}
.nav-logo h1 span
{
    color: var(--common-color);
}
.navbar .nav li
{
    list-style: none;
}
.navbar .nav li a
{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
}
/* navbar end */


/* banner section start */
.banner-section
{
    margin: var(--common-margin);
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-bottom: 0;
}
.banner-content
{
    color: #fff;
}
.banner-content h1
{
    font-size: 50px;
}
.banner-content p
{
    margin: 10px 0px;
    font-size: 20px;
}
.banner-input
{
    margin-top: 1rem;
    backdrop-filter: blur(5px);
    display: inline-block;
    padding: 20px;
}
.banner-input > input,button
{
    width: 100px;
    padding: 8px ;
    border: 1px solid #FF5400;
    outline: none;
}
/* banner section end */
/* map section start */
.map-section
{
    margin-bottom: 5rem;
    text-align: center;
    font-size: 30px;
    margin: 0px 110px;
}
.map-section span
{
    color: #FF5400;
}
.map-section iframe
{
    width: 100%;
}
/* map section end */
/* tour section start */
.tour-section
{
    margin: var(--common-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-section h1
{
    font-size: 3rem;
}
.tour-section p
{
    margin: 15px 0px;
}
.tour-image img
{
    width: 100%;
}
.tour-content 
{
    width: 50%;
}
.tour-list li
{
    margin-left: 15px;
}
.tour-btn
{
    background-color: var(--common-color);
    padding: 10px 15px;
    border: none;
    outline: none;
}
/* tour section end */

/* choose section start */
.choose-section
{
    margin: var(--common-margin);
    text-align: center;
}
.choose-content
{
    margin-bottom: 30px;
}
.choose-image-card
{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.choose-image-card img
{
    width: 100%;
    height: 100%;
}
.choose-image-card h3
{
    position: relative;
    bottom: 50%;
    color: #fff;
    z-index: 4;
}


/* choose section end */


/* why section start */
.why-section
{
    margin: var(--common-margin);
}
.why-content
{
    text-align: center;
    margin-bottom: 3rem;
}
.why-card
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    grid-gap:2rem;
}
.why-card i
{
    font-size: 30px
}
.why-card h3
{
    font: 25px;
    margin: 10px 0px;
}
.card-1, .card-2
{
    grid-column: 2 span;
}
.card-1
{
    background-color: #FEF6F6;
}
.card-2
{
    background-color: #F4FDFF;
}
.card-3
{
    grid-column: 2/4;
    background-color: #FEF6F6;
}
.card-1,.card-2,.card-3
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
}
/* why section end */

/* discounds section start */
.discounts-section
{
    margin: var(--common-margin);
}
.discounds-content
{
    text-align: center;
    margin: 20px 0px;
}
.discounds-content h1
{
    font-size: 35px;
}
.discounts-section .main-card img
{
    width: 100%;
}
.discounts-section .main-card-description
{
    display: inline-block;
    border: 1px solid black;
    padding: 20px 20px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.card-icon i
{
    font-size: 13px;
    margin-right: 15px;
    color: #FF5400;
    margin-bottom: 7px;
}
.main-card-description h3
{
    margin-bottom: 7px;
}
.main-card-description p
{
    margin-bottom: 10px;
}
.price
{
    font-weight: bold;
    color: #FF5400;
}
.deals-btn
{
    background-color: #FF5400;
    padding: 8px 15px;
    border: none;
    outline: none;
}
.main-card
{
    margin-top: 20px;
}
.bottom
{
    margin-top: 1rem;
    border-radius: 5px;
    float: right;
}
/* discounds section end */
/* video section start */
.video-section
{
    margin: var(--common-margin);
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-content, .video-video
{
    width: 50%;
}
.video-content 
{
    padding: 20px;
}
.video-content p
{
    margin-bottom: 10px;
}
.video-content h1
{
    color: var(--common-color);
    font-size: 35px;
    margin-bottom: 15px;
}
.video-video iframe
{
    width: 100%;
}
/* video section end */
/* form section start */
.form-section
{
    margin: var(--common-margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-image img
{
    width: 100%;
}
.form ,.form-image
{
    padding: 20px;
}
.form-image
{
    width: 60%;
}
.form
{
    border: 1px solid black;
    padding: 65px 20px;
    border-radius: 10px;
    width: 40%;
}
.form p
{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.form h2
{
    font-size: 30px;
    color: #FF5400;
    margin-bottom: 10px;
}
.form input
{
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
}
.input-btn
{
    background-color: #FF5400;
    border: none;
    outline: none;
}
.text
{
    background-color: var(--common-color);
    display: inline-block;
    position: relative;
    bottom: 210px;
    left: 230px;
    transform: rotate(-30deg);
    padding: 10px;
    text-align: center;
}
/* form section end */
/* footer section start */
.footer-content
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 50px 0px 50px 0px;
}
.footer-content span
{
    color: #FF5400;
}
.footer-content p
{
    margin: 15px 0px;
}
.footer-icon
{
    margin-bottom: 20px;
}
.footer-icon a
{
    text-decoration: none;
    color: #FF5400;
    margin-right: 5px;
    font-size: 20px;
}
/* footer section end */